<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>  </title>
  </head>
  <body>
    <h1>ERROR ERROR ERROR</h1>
    <form class="back" action="/" method="get">
      <input type="submit" name="back" value="Back to Main">
    </form>
  </body>
</html>
